* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: block;
    align-items:  center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(315deg, white, rgb(235, 229, 229));
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(37, 231, 215);
    height: 80px;
    z-index: 999;
}
label.logo{
    font-size: 30px;
    font-weight: bolder;
    color: #504d4d;
    line-height: 80px;
    margin: 0 100px;
    
}
label.logo:hover{
    margin: 5px 100px;
    cursor: pointer;
}

nav ul{
    float: right;
    line-height: 80px;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
nav ul li a {
    color: #504d4d;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover{
    color: #74787c;
    transition: .5s;
}

.checkbtn{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}

.contact {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.contact h1 {
    text-align: center;
    padding: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #504b4b;
}



.social-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.social-contact .button {
    display: flex;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 0 5px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    /*transition:  all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    transition: 0.3s ease-out;
    overflow: hidden;
}

.social-contact .button:hover {
    width: 200px;
}

.social-contact .button .icon-n {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: .03s ease-in-out;
}

.social-contact .button .icon-n a {
    color: #000000;
}
.social-contact .button:nth-child(1):hover .icon-n {
    background: rgb(7, 92, 161);
}
.social-contact .button:nth-child(2):hover .icon-n {
    background: #1da1f2;
}
.social-contact .button:nth-child(3):hover .icon-n {
    background: #e13048;
}
.social-contact .button:nth-child(4):hover .icon-n {
    background: rgb(5, 207, 5);
}
.social-contact .button:nth-child(5):hover .icon-n {
    background: gold;
}
.social-contact .button .icon-n i {
    font-size: 25px;
    line-height: 60px;
    transition: .03s ease-in-out;
}
.social-contact .button:hover .icon-n i {
    color: white;
}

.social-contact .button span {
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 10px;
    display: none;
}

.social-contact .button:hover span {
    display: inherit;
}

.social-contact .button:nth-child(1):hover span {
    color: rgb(7, 92, 161);
}
.social-contact .button:nth-child(2):hover span {
    color: #1da1f2;
}
.social-contact .button:nth-child(3):hover span {
    color: #e13048;
}
.social-contact .button:nth-child(4):hover span {
    color: rgb(5, 207, 5);
}
.social-contact .button:nth-child(5):hover span {
    color: gold;
}

form {
    padding: 0 10%;
    padding-bottom: 10%;
}


.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.form form h2, h3{
    font-size: 35px;
    color: #504b4b;
}
.form form h3 {
    font-size: 30px;
    padding-bottom: 50px;
}
.form form hr {
    border: none;
    height: 5px;
    width: 250px;
    margin: 10px 0;
    background: #504b4b;
    border-radius: 3px;
}

.form form button {
    cursor: pointer;
    border: none;
    line-height: 40px;
    border-radius: 50px;
    background:  linear-gradient(to right, #504b4b, #302c2c);
    color: white;
    font-size: 20px;
    width: 100%;
}
.form form button i {
    line-height: 50px;
    font-size: 15px;
    height: 50px;
    text-align: center;
}
.form form .gmail-input {
    height: 45px;
    border: none;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 20px; 
}
.form form textarea{
    line-height: 60px;
    min-height: 200px;
}
.form form textarea:focus{
    border: none;
    border: 2px solid #ff994f;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 30px;
    padding: 0 20px;
    background: rgb(37, 231, 215);
    color: #504d4d;
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid white;
}
footer ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
}
footer .foot-logo{
    font-weight: 700;
}
footer .logo{
    margin-left: 10px;
}
.foot-icon{
    width: 34px;
    height: 34px;
    margin: 0 8px;
    opacity: .7;
    transition: .5s;
}

.foot-icon:hover{
    transform: translateY(-20%); 
}
    
footer .foot-case{
    padding-top: 0%;
    text-align: left;
    line-height: 1.3em;
    letter-spacing: -0.1px;
}

footer .foot-case p{
    margin-top: 0;
    line-height: 1.5rem;
}

h5{
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
}

@media screen and (max-width: 1000px) {
    label.logo{
        margin: 0 60px;
        
    }

    label.logo:hover{
        margin: 0 60px;
    }
    /*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
    .overlay{
        padding: 0 20px;
    }


    #main-banner{
        margin: 0;
        padding: 60px 60px;
        padding-bottom: 50px;
        box-sizing: border-box;
        width: 100%;
    }


    .checkbtn{
        display: block;
        filter: invert(1);
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        margin-top: 0;
        top: 80px;
        left: -100%;
        text-align: center;
        padding-left: 0;
        padding-top: 50px;
        transition: all .5s;
    }

    nav ul li a{
        font-size: 20px;
        color: #fff;
    }

    a:hover, a.active{
        background: none;
        color: #504b4b;
    }

    #check:checked ~ ul{
        left: 0;
    }



    nav ul li{
        display: block;
        padding: 20px;
    }

    .icon{
        margin-top: -25px;
    }

    footer{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;

    }

    footer .foot-case {
        margin-top: 40px;
        text-align: center;
    }
    footer ul{
        margin: 0 auto;
        padding: 0;
    }
    footer .first{
        margin-top: 0;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .contact {
        padding-top: 100px;
    }
}

@media screen and (max-width: 450px) {

    label.logo{
        margin: 0 40px;
    }
    
    label.logo:hover{
        margin: 0 40px;
    }

    .social-contact .button:hover {
        width: 150px;
    }


    .social-contact .button span {
        font-size: 15px;
        line-height: 60px;
        margin-left: 5px;
    }

    .form form button {
        font-size: 18px;
    }

    .form form button i {
        font-size: 15px;
    }
}
